In [77]:
print(2-2)

0

In [78]:
print(2+2)

4

In [79]:
5+6

11

In [80]:
2.5*3.0

7.5

In [81]:
5/2 #division operator, return a float

2.5

In [82]:
10//3 #floor division operator

3

In [83]:
10/3

3.3333333333333335

In [84]:
50 < 25

False

In [85]:
10//6

1

In [86]:
10%3 #modulo of reminder

1

In [87]:
10**3 #exponentiation

1000

In [88]:
10==11

False

In [89]:
10!=5

True

In [90]:
not(True)

False

In [91]:
15!=True

True

In [92]:
(4**2)+2==6

False

In [93]:
4**2+2

18

In [94]:
2+4**2

18

In [95]:
4**(2+2)

256

In [96]:
(2+2)*2-2==6

True

In [97]:
degrees_celcius = 25
Degrees_Celcius = 30

In [98]:
degrees_celcius

25

In [99]:
Degrees_Celcius

30

In [100]:
degrees_fahrenheit = (9 / 5) * degrees_celcius + 32

In [101]:
degrees_fahrenheit

77.0

In [102]:
degrees_celcius = 0

In [103]:
degrees_celcius

0

In [111]:
degrees_fahrenheit

77.0

In [112]:
degrees_celcius

40

# Hello!
## I'm a financial analyst.
We have **good time**

In [113]:
degrees_celcius

40

In [121]:
degrees_celcius = 0

In [124]:
degrees_celcius

0

In [126]:
degrees_celcius = degrees_celcius + 10
degrees_celcius

20

In [128]:
degrees_celcius = degrees_celcius - 1

In [130]:
degrees_celcius

18

In [132]:
keylie = 1

In [134]:
lau = 2

In [139]:
julia = keylie + lau

In [141]:
julia

3

In [143]:
keylie = keylie + 50

In [145]:
keylie

101

In [148]:
a = 1
a

1

In [150]:
b = 1
b

1

In [152]:
print(id(a))

1794918738224

In [154]:
print(id(b))

1794918738224

In [156]:
a = 2

In [158]:
print(id(a))

1794918738256

In [160]:
a = 1

In [162]:
b = a

In [164]:
print(id(a))

1794918738224

In [168]:
print(id(b))

1794918738224

In [170]:
a = 2

In [172]:
b

1

In [174]:
print(id(a))

1794918738256

In [176]:
print(id(b))

1794918738224

In [178]:
a=2

In [181]:
b

1

In [183]:
print(id(b))

1794918738224

In [189]:
dinner = "pasta"
lunch = dinner
print(dinner)
      
print(lunch)

dinner = "pizza"

print(dinner)
print(lunch)

lunch = dinner

print(lunch)

pasta
pasta
pizza
pasta
pizza

In [191]:
degrees_celcius = degrees_celcius + 10
degrees_celcius = 0
degrees_celcius += 10

In [192]:
degrees_celcius

10

In [193]:
days_of_the_year = 375
days_of_the_year -= 10

In [195]:
days_of_the_year

365

In [196]:
float(10)

10.0

In [199]:
float(10)

10.0

In [200]:
dsi = 3
dsi = dsi + 10

In [202]:
# annotate code
# used

# this is a comment that is not evaluated

In [208]:
"""
This entire block 
is
ignored
by
the
interpreter
"""

# x = 1
# y = 2

'\nThis entire block \nis\nignored\nby\nthe\ninterpreter\n'

In [ ]:
tuesday = (10 + 2
           * 2 + 6)

In [1]:
print(42)
print(2024)

42
2024

In [2]:
type("42.4")

str

In [3]:
print(10**2)

100

In [4]:
abs(-43)

43

In [7]:
round(2/3, 5)

0.66667

In [6]:
2/3

0.6666666666666666

In [8]:
int(3.99)

3

In [11]:
int("3")

3

In [10]:
type(int("3"))

int

In [12]:
2*1.5

3.0

In [13]:
round(3.0)

3

In [14]:
type(3)

int

In [15]:
print(type(3))

<class 'int'>

In [16]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [19]:
type(round(2*1.5))

int

dsi = 3
dsi = dsi + 10

In [20]:
# degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [27]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

c_to_f(150)

302.0

In [65]:
def divide(divident, divisor):
    return divident / divisor
    
divide(10, 2)

5.0

In [54]:
divide(10, 2)

5.0

In [39]:
def cal_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

In [42]:
cal_sales_tax(5)

0.65

In [43]:
cal_sales_tax(5, 0.08)

0.4

In [45]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

In [46]:
calc_total_bill(100) #using all defaults

128.0

In [47]:
calc_total_bill(100, 0.22)

137.0

In [48]:
100 + (100 * 0.22) + (100 * 0.15)

137.0

In [50]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [51]:
100 + (100 * 0.13) + (100 * 0.22)

135.0

In [55]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [58]:
def c_to_f(degrees_c):
    '''Conver from degrees Celsius to Degrees Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [59]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Conver from degrees Celsius to Degrees Fahrenheit

In [60]:
# function name and parameters --> function header
# '''docstring''' -> briefly describes what the function does
# body -> code that runs when the function is called
# return statement

In [152]:
def c_to_f(degrees_c):
    '''Conver from degrees Celsius to Degrees Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

hot = c_to_f(150)

In [157]:
def c_to_f(degrees_c):
    '''Conver from degrees Celsius to Degrees Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

hot_2 = 2*(c_to_f)

TypeError: unsupported operand type(s) for *: 'int' and 'function'

In [158]:
hot

302.0

In [159]:
hot_2

300

In [66]:
def is_even_number(number):
    return number % 2 == 0

In [68]:
is_even_number(9)

False

In [70]:
def is_even_number(number):
    return number % 2 == 0 

assert is_even_number(2342323433)

AssertionError:

In [71]:
'This is a string'

'This is a string'

In [73]:
"So is this"

'So is this'

In [74]:
"Let's see if this works"

"Let's see if this works"

In [76]:
'''
line 1
Line 2
Line 3

'''

'\nline 1\nLine 2\nLine 3\n\n'

In [79]:
print("This is \nmy birthday!")

This is
my birthday!

In [82]:
print('This string won\\t work')

This string won\t work

In [84]:
'hello' + ' ' + 'world'

'hello world'

In [85]:
'ha' * 3

'hahaha'

In [86]:
'The year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [87]:
'apple' == 'Apple'

False

In [88]:
'apple' != "Apple"

True

In [89]:
'20' == 20

False

In [90]:
first_name = 'Ada'
last_name = 'Lovelace'

print('Initial are', first_name[0], last_name[0])

Initial are A L

In [91]:
first_name[1]

'd'

In [92]:
last_name[0]

'L'

In [93]:
last_name[2:4]

've'

In [94]:
last_name[:7]

'Lovelac'

In [95]:
last_name[3:]

'elace'

In [96]:
phone_number = '+1 555-1234'
phone_number [3:6]

'555'

In [97]:
phone_number[-4:]

'1234'

In [100]:
phone_number[0]

'+'

In [105]:
job_qualification = '''The successful aplicant will be proficient...'''

In [107]:
job_qualification

'The successful aplicant will be proficient...'

In [108]:
'R' in job_qualification

False

In [109]:
'r' in job_qualification

True

In [110]:
print(1, 'fish', 2, 'fish')

1 fish 2 fish

In [112]:
len('Hellooooooooo')

13

In [113]:
yell = 'I am not yelling'
yell.upper()

'I AM NOT YELLING'

In [114]:
yell

'I am not yelling'

In [115]:
yell.count('l')

2

In [117]:
file_name = 'file_name.csv'

In [118]:
'file.name.csv'.endswith(',txt')

False

In [122]:
'long file name with a lot of spaces.csv'.replace(' ', '_')

'long_file_name_with_a_lot_of_spaces.csv'

In [121]:
sorted('hellooo')

['e', 'h', 'l', 'l', 'o', 'o', 'o']

In [123]:
first_name = 'Ada'
last_name = 'Lovelace'

In [124]:
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [125]:
lunch = "hotdog"
dinner = "ramen"

"For lunch I want {} and for dinner I want {}".format(lunch, dinner)

'For lunch I want hotdog and for dinner I want ramen'

In [143]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name{0}}.'

SyntaxError: f-string: invalid syntax (3720557733.py, line 1)

In [145]:
snack = 'apples'
f'My favourite snack are {snack}'

'My favourite snack are apples'

In [146]:
snack = 'carrot'

In [147]:
f'My favourite snack are {snack}'

'My favourite snack are carrot'

In [148]:
str(20)

'20'

In [149]:
str(34.7)

'34.7'

In [150]:
'20' + str(37.5)

'2037.5'

In [151]:
print('Next birthday you will be {}'.format(age_next_bday))

NameError: name 'age_next_bday' is not defined

In [ ]:
not (3 == 3)

In [133]:
def anagram_checker(word_a, word_b):
    # Convert both words to lowercase for case-insensitive comparison
    word_a = word_a.lower()
    word_b = word_b.lower()
    
    # Sort the characters in both words and compare if they are equal
    return sorted(word_a) == sorted(word_b)

# Run your code to check using the words below:
print(anagram_checker("Slient", "listen"))
print(anagram_checker("Slient", "Night"))
print(anagram_checker("night", "Thing"))

TypeError: 'list' object is not callable

In [131]:
def anagram_checker(word_a, word_b):
    word_a = word_a.lower()
    word_b = word_b.lower()
    return sorted(word_a) == sorted(word_b)
print(anagram_checker("Slient", "listen"))

TypeError: 'list' object is not callable

TypeError: 'list' object is not callable

In [4]:
def anagram_checker(word_a, word_b, is_case_sensitive):
    if not is_case_sensitive:
        # Convert both words to lowercase for case-insensitive comparison
        word_a = word_a.lower()
        word_b = word_b.lower()
    
    # Sort the characters in both words and compare if they are equal
    return sorted(word_a) == sorted(word_b)

# Run your code to check using the words below:
print(anagram_checker("Slient", "listen", False))
print(anagram_checker("Slient", "Listen", True))

True
False

In [6]:
"DOG" == "dog" or "Cat" == "Cat"

True

In [10]:
is_winter = "Kaylie" #string
is_cloudy = True #boolean

is_winter and is_cloudy

True

In [13]:
is_cloudy and is_winter

'Kaylie'

In [15]:
True and False and True

False

In [18]:
True and "Kaylie"

'Kaylie'

In [22]:
year = 2024

if year >= 2000:
    print("We are in the 21st century")

We are in the 21st century

In [26]:
year = 1999

if year >= 2000:
    print("21st century")
else:
    print("NOT 21st century")

NOT 21st century

In [29]:
day_of_week = "Monday"
if day_of_week == "Saterday" or day_of_week == "Sunday":
    print("Weekend")
else:
    print("Weekday")

Weekday

In [39]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments"
        else:
            return "It hasn't been 12 months since your last major eye exam"
    elif 20<= age <= 64:
        if qualifying_condition:
             if time_since_last_exam >=12:
                  return "You are eligible"
             else:
                 return "It hasn't been 12 months since your last major eye exam"
        else:
            return "You don't have a ualifying condition"
    elif age >= 65:
        if time_since_last_exam >=18:
            return "You are eligible"
        else:
            return "It hasn't been 18 months since your last major eye exam"
    else:
        return "Invalid age input"

In [44]:
eye_exam_covered(34, "needs contacts", 15)

'You are eligible'

In [45]:
eye_exam_covered(15, "needs contacts", 11)

"It hasn't been 12 months since your last major eye exam"

In [47]:
# list

vowels = ['a', 'e', 'i', 'o', 'u']
print(f"{vowels} are vowels.")

['a', 'e', 'i', 'o', 'u'] are vowels.

In [51]:
#best practice

empty_list = []
print('empty_list is', type(empty_list))

empty_list is <class 'list'>

In [52]:
empty_list2 = list()
print('empty_list is', type(empty_list2))

empty_list is <class 'list'>

In [54]:
scores = [90, 82, 80, 91, 80]
print = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_function = [len, sum, max, min]

In [56]:
mystery_solvers = [['Scherlock', 'Watson'],
                   ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
                   'Nancy'
                   ]

In [63]:
grades [0]

NameError: name 'grades' is not defined

In [66]:
grade [6:9]

[]

In [70]:
dsi = "There are a lot participants in this cohort"

'participants' in dsi

True

In [72]:
vowels

['a', 'e', 'i', 'o', 'u']

In [75]:
'e' in vowels

True

In [78]:
emma = 'cheese sandwich'
kaylie = emma

In [79]:
emma = 'ham sandwich'

In [81]:
kaylie

'cheese sandwich'

In [83]:
sandwich = ['bread', 'cheese', 'bread']

In [85]:
sandwich_copy = sandwich

In [88]:
sandwich[1] = 'ham'

In [92]:
emma_sand = ['bread', 'cheese', 'bread']

In [95]:
keylie_sand = emma_sand

In [97]:
emma_sand[1] = 'tuna'

In [100]:
keylie_sand

['bread', 'tuna', 'bread']

In [116]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [103]:
kid_meal

['burger', 'fries', 'drink']

In [106]:
combo[0] = 'chicken'

In [117]:
combo

['burger', 'fries', 'drink']

In [118]:
kid_meal

['burger', 'fries', 'drink']

In [113]:
perfect_squares = [1, 4, 9, 16, 25, 36, 49]

len(perfect_squares)

7

In [114]:
max(perfect_squares)

49

In [115]:
sum(perfect_squares)

140

In [135]:
def anagram_checker(word_a, word_b):
    # Convert both words to lowercase for case-insensitive comparison
    word_a = word_a.lower()
    word_b = word_b.lower()
    
    # Sort the characters in both words and compare if they are equal
    return sorted(word_a) == sorted(word_b)

# Run your code to check using the words below:
print(anagram_checker("Slient", "listen"))
print(anagram_checker("Slient", "Night"))
print(anagram_checker("night", "Thing"))

TypeError: 'list' object is not callable